<div class="row" style="background-color:lightcyan;">
        <div class="col-md-6">
          <p><strong>Property</strong></p>
          <p><strong>Address:</strong>
          <%= @property.address %></p>
          <p><strong>Zipcode:</strong>
          <%= @property.zipcode %></p>
          <p><strong>Name of Landlord:</strong>
          <%= @property.landlord %></p>
          <p><strong>Phone #:</strong>
          <%= @property.phone %></p>
          <p><strong>Email:</strong>
          <%= @property.email %></p>
      </div>
    </div> 
<%= form_for(@repair) do |f| %>
  <% if @repair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repair.errors.count, "error") %> prohibited this repair from being saved:</h2>

      <ul>
      <% @repair.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="field">
    <strong>Property</strong><br>
    <%= f.collection_select :property_id, Property.order(:address), :id, :address, prompt: false %><br>
  </div>
  <div class="field">
    <strong>Type repair</strong><br>
    <%= f.collection_select :type_repair_id, TypeRepair.order(:name), :id, :name, prompt: false %><br>
  </div>
  <%= link_to 'New type repair', new_type_repair_path,:target => "_blank" %>

  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_area :details %>
  </div>
  <div class="field">
    <%= f.label :contractors %><br>
    <%= f.text_field :contractors %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.number_field :cost,  :default => 0 %>
  </div>
  <div class="field">
    <%= f.label :warranty %><br>
    <%= f.number_field :warranty %>
  </div>
  <div class="field">
    <%= f.label :date_repair %><br>
    <%= f.date_select :date_repair %>
  </div>
  <div class="well">    
    <%= f.label :purchase_order  %>
    <%= f.file_field :purchase_order %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
