<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>Tenant</strong><br>
    <%= f.collection_select :tenant_id, Tenant.order(:name), :id, :name, prompt: false %><br>
  </div>
  <div class="field">
    <%= f.label :paid_period %><br>
    <%= f.date_select :paid_period %>
  </div>
  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_area :details %>
  </div>
  <div class="field">
    <strong>Payment Method</strong><br>
    <%= f.collection_select :payment_method_id, PaymentMethod.order(:name), :id, :name, prompt: false %><br>
  </div> 
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :applied %><br>
    <%= f.check_box :applied %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
